.article {
  > .comment {
    width: calc(100% - 20px);
    overflow: auto;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
    display: none;
  }
}

.comment-toggle {
  ~ .comment {
    display: block;
  }
}

.comment {
  > .comment-list {
    position: relative;
    padding: 10px 0 0;
    border-bottom: 1px solid $hightLight;
  }

  .arrow-down-3 {
    @extend %icon;
    display: none;
  }
}

.comment-list {
  .member-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  > .comment-author {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 39px;
    font-size: $smFz;
    color: $active1;
    height: 18px;
    word-spacing: -4px;

    &:hover {
      color: $active2;
    }
  }

  > .comment-time {
    position: absolute;
    top: 32px;
    left: 39px;
    color: $infoFont;
    font-size: $xsFz;
  }

  > .comment-content {
    margin-left: 5px;
    font-size: $smFz;
    padding: 10px 0;
  }

  > .more-2 {
			@extend %icon;
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			color: $hightLight;
			cursor: pointer;
			text-align: center;
			font-size: 26px;
			position: absolute;
			right: -10px;
			top: 0;
			transition: color .3s;
      z-index: 1;
		&:hover {
			color: $active1;
		}
	}
}

.fold {
  > .comment-list {
    &:last-child {
      // border-bottom: none;
    }
  }



  .arrow-down-3 {
    @extend %icon;
    color: $active1;
    // font-weight: 900;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 40px;
    text-align: center;
    // position: absolute;
    position: relative;
    cursor: pointer;
    // bottom: 41px;   //temp
    background: $bgContain;
    border-bottom: 1px solid $hightLight;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 20px;
      position: absolute;
      top: -20px;
      background: linear-gradient(rgba(255,255,255, .7), rgb(255,255,255));
      box-shadow: 0 -11px 15px 0 rgba(255,255,255, .7);
    }
  }
}


.loading-comment .arrow-down-3 { display: none; }
