body, html {
  font-size: $mdFz;
  font-family: 'Lekton', sans-serif;
  color: $font;
  background-color: $bgBody;
  /*for Chrome browser in OSX better user experience*/
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  // height: 96%;
}


@media (min-width: 960px) {
  body {
    margin-top: 50px;
  }
}

/*::selection {background-color: $hightLight;}*/
/*::-moz-selection {background-color: $hightLight;}*/

a ,button, input {
  transition: .3s;
  -weblit-transition: .3s;
  font-size: $smFz;
  font-family: 'Lekton', sans-serif;
}

/*heading reset*/
h1, h2, h3, h4, h5, h6 {
  font-size: $lgFz;
  color: $heading;
  font-weight: normal;
}

/*display on && off*/
.off{display: none !important;}
.on {display: block !important;}
.flex {display: flex !important;}

/*screen only*/
.sr {font-size: 0; width: 0;height: 0;}


/*for subtle user interaction %exclude*/
/*.ts {transition: .3s; -webkit-transition: .3s;}*/
