@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?zh9bbl');
  src:  url('../fonts/icomoon.eot?zh9bbl#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?zh9bbl') format('truetype'),
  url('../fonts/icomoon.woff?s1kgjk') format('woff'),
  url('../fonts/icomoon.svg?zh9bbl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.default-upload-avatar:before {
  content: "\e951";
}

.logo-01:before {
  content: "\e93f";
}
.logo-02:before {
  content: "\e952";
}



//popup icon

.activate-success-popup:before {
  content: "\e942";
}
.activate-email-send-popup:before {
  content: "\e943";
}
.forget-ps-popup:before {
  content: "\e944";
}
.sign-in-error-popup:before {
  content: "\e934";
}
.network-error-popup:before {
  content: "\e940";
}
.repeated-register-popup:before {
  content: "\e941";
}
.not-exist-popup:before {
  content: "\e946";
}
.email-input-popup:before {
  content: "\e947";
}

//popup icon end

%eye-opened-1:before {
  content: "\e949";
}
%loading-1:before {
  content: "\e93f";
}


.github-8:before {
  content: "\e93b";
}
.g-plus-5:before {
  content: "\e93c";
}
.twitter-6:before {
  content: "\e93d";
}
.facebook-5:before {
  content: "\e93e";
}
%github-7:before {
  content: "\e939";
}
%g-plus-4:before {
  content: "\e93a";
}
%mail-4:before {
  content: "\e932";
}
%twitter-5:before {
  content: "\e936";
}
%facebook-4:before {
  content: "\e937";
}
.upload-avatar:before {
  content: "\e938";
}
.g-plus-3:before {
  content: "\e931";
}

%eye-closed-1:before {
  content: "\e935";
}
%member-3:before {
  content: "\e933";
}
.cancel-1:before {
  content: "\e923";
}
.cancel-2:before {
  content: "\e924";
}
.delete-1:before {
  content: "\e925";
}
.delete-2:before {
  content: "\e926";
}
.delete-3:before {
  content: "\e927";
}
.setting-4:before {
  content: "\e928";
}
.github-1:before {
  content: "\e929";
}
.g-plus-1:before {
  content: "\e92a";
}
.login-4:before {
  content: "\e92b";
}
.twitter-1:before {
  content: "\e92c";
}
.logout-4:before {
  content: "\e92d";
}
.facebook-1:before {
  content: "\e92e";
}
.setting-5:before {
  content: "\e92f";
}
.delete-4:before {
  content: "\e930";
}
.arrow-right-7:before {
  content: "\e01f";
}
.arrow-left-6:before {
  content: "\e020";
}
.arrow-right-8:before {
  content: "\e037";
}
.checkin-1:before {
  content: "\e0c8";
}
%password-1:before {
  content: "\e0da";
}
.mail-1:before {
  content: "\e0e1";
}
.mail-2:before {
  content: "\e159";
}
.setting-1:before {
  content: "\e1ad";
}
.post-1:before {
  content: "\e22b";
}
.post-2:before {
  content: "\e254";
}
.arrow-up-3:before {
  content: "\e255";
}
.setting-2:before {
  content: "\e3aa";
}
.setting-3:before {
  content: "\e3ac";
}
.camera-1:before {
  content: "\e439";
}
.arrow-left-7:before {
  content: "\e5c4";
}
.arrow-right-9:before {
  content: "\e5c8";
}
.arrow-down-2:before {
  content: "\e5cf";
}
.more-1:before {
  content: "\e5d4";
}
.mood-1:before {
  content: "\e7f2";
}
.noti-2:before {
  content: "\e7f4";
}
.noti-3:before {
  content: "\e7f5";
}
.member-1:before {
  content: "\e853";
}
.edit-1:before {
  content: "\e869";
}
.favorite-1:before {
  content: "\e87d";
}
.favorite-o-1:before {
  content: "\e87e";
}
.search-1:before {
  content: "\e8b6";
}
.thumb-down-1:before {
  content: "\e8db";
}
.thumb-up-1:before {
  content: "\e8dc";
}
.member-2:before {
  content: "\e922";
}
.arrow-left-1:before {
  content: "\e900";
}
.arrow-right-1:before {
  content: "\e901";
}
.arrow-up-1:before {
  content: "\e902";
}
.arrow-down-1:before {
  content: "\e903";
}
.arrow-right-2:before {
  content: "\e904";
}
.arrow-up-2:before {
  content: "\e905";
}
.arrow-left-2:before {
  content: "\e906";
}
.arrow-right-3:before {
  content: "\e907";
}
.delete-5:before {
  content: "\e908";
}
.noti-1:before {
  content: "\e909";
}
.camera-2:before {
  content: "\e90a";
}
.delete-6:before {
  content: "\e90b";
}
.password-2:before {
  content: "\e90c";
}
.lock-1:before {
  content: "\e90d";
}
.logout-1:before {
  content: "\e90e";
}
.login-1:before {
  content: "\e90f";
}
.mail-3:before {
  content: "\e910";
}
.edit-2:before {
  content: "\e911";
}
.thumb-down-2:before {
  content: "\e912";
}
.thumb-up-2:before {
  content: "\e913";
}
.facebook-2:before {
  content: "\e914";
}
.github-2:before {
  content: "\e915";
}
.github-3:before {
  content: "\e916";
}
.g-plus-2:before {
  content: "\e917";
}
.twitter-3:before {
  content: "\e918";
}
.twitter-2:before {
  content: "\e919";
}
.logout-2:before {
  content: "\e91a";
}
.login-2:before {
  content: "\e91b";
}
.search-2:before {
  content: "\e91c";
}
.login-3:before {
  content: "\f036";
}
.logout-3:before {
  content: "\f032";
}
.chat-2:before {
  content: "\e91d";
}
.password-3:before {
  content: "\e91e";
}
.mood-2:before {
  content: "\e91f";
}
.github-5:before {
  content: "\e920";
}
.github-4:before {
  content: "\e921";
}
.twitter-4:before {
  content: "\f099";
}
.facebook-3:before {
  content: "\f09a";
}
.github-6:before {
  content: "\f09b";
}
.arrow-left-3:before {
  content: "\f0a8";
}
.arrow-right-4:before {
  content: "\f0a9";
}
.comment-o-2:before {
  content: "\f0e5";
}
.chat-1:before {
  content: "\f0e6";
}
.arrow-left-4:before {
  content: "\f100";
}
.arrow-right-5:before {
  content: "\f101";
}
.mood-3:before {
  content: "\f118";
}
.arrow-left-5:before {
  content: "\f177";
}
.arrow-right-6:before {
  content: "\f178";
}
.female:before {
  content: "\f182";
}
.male:before {
  content: "\f183";
}
.comments:before {
  content: "\f27b";
}
