@import url('https://fonts.googleapis.com/css?family=Lekton:400,400i,700');
@charset "UTF-8";

//theme color
$active1 : #59B8AF;
$active2 : #479891;
$hightLight : #A9D6CF;
$inActive : darkgrey;
$border : #e6e6e6;


//background color
$bgContain : #fff;
$bgBody : #f8f8f8;

// font color
$heading :  #111E25;
$font : #111;

// font size
$lgFz : 24px;
$mdFz : 18px;
$smFz : 16px;
$xsFz : 12px;


//others
$bsh : 1px 2px 4px 0 $inActive;
