.member-panel {
  display: none;
  position: absolute;
  top: 8px;
  right: 2%;
  @extend %animated;
  @extend  %fadeInDown;


  > .member-nickname {
    float: left;
    max-width: 220px;
    margin-right: 5px;
    height: 40px;
    line-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hi {
    display: inline-block;
    color: $font;
  }

  // &:hover {
  //   .hi {
  //     color: $active1;
  //   }
  // }
  //   > .member-avatar {
  //     // float: left;
  //     box-shadow: $bsh;
  //   }
  // }
}

// .member-nickname:hover > .hi {
//   color: $active1;
// }

.member-panel > .member-avatar:hover {
  color: $active1;
  box-shadow: $bsh;
  cursor: pointer;
}



.login .member-panel {
  display: block;
}

@media (max-width: 768px) {
  .member-panel  {
    > .member-nickname {
        max-width: 120px;
      }

      .hi {
        display: none;
      }

    }
}
