.wrapper {
  position: relative;
  margin-top: 50px;
  height: calc(100vh - 50px);
  transition: filter .35s;
}

.wrapper.login { margin-top: 55px; }

.mask {
		filter: blur(7px);
		opacity: .25;
		z-index: 3;
}
