.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
  border-bottom: 1px solid $border;
  z-index: 9;
  transition: filter .35s;
}

.header-panel {
  max-width: 1080px;
  height: 49px;
  margin: 0 auto;
  position: relative;
  // overflow: hidden;
}

.header-panel.login {
  height: 54px;
}
