.member-avatar {
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: box-shadow .3s;
}

/*.member-panel:hover .member-avatar {
  box-shadow:  1px 2px 4px 0 darkgrey;
}*/
