.sign-in-indicated {
  font-size: $smFz;
  color: $font;
  text-align: center;
  margin: 5% 0;
}

.note {
  text-align: center;
  font-size: 14px;
  color: $inActive;
  margin-top: 2%;
}

@media (max-width: 400px) {
  .sign-in-indicated {
    display: none;
  }


  .note {
    display: none;
  }

}
