.sign-in-indicated {
  font-size: $smFz;
  color: $font;
  text-align: center;
  margin: 5% 0;
}

.sign-in-form {
  .sign-form-email, .sign-form-password, .submit-btn, .forget-ps {
    display: none;
  }
}



.forget-ps {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  color: $font;
  font-size: $smFz;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 2%;
  &:hover {
    text-decoration: underline;
  }

}

@media (max-width: 400px) {
  .sign-in-indicated {
    display: none;
  }

  .sign-in-form {
    .sign-form-email, .sign-form-password {
      display: flex;
    }
    .submit-btn, .forget-ps  {
      display: block;
    }

    .note {
      display: none;
    }
  }


}
