.hint-checked {
  font-size: $xsFz;
  height: 22px;
  line-height: 24px;
  margin-left: 8px;
  opacity: 0;
  transition: .3s;
  color: #111;

  > .hint-result {
    color: #c9302c;
  }

}

.hint-checked.nickname,
.hint-checked.hint-email,
.hint-checked.hint-password {
  opacity: 1;
  > i {
    font-size: 0;
  }
}

// .hint-checked.hint-email {
//   position: relative;
//
//   > i {
//     @extend  %icon;
//     @extend %mail-4;
//     position: absolute;
//     top: 3px;
//     left: 2px;
//     color: $inActive;
//     font-size: $smFz;
//   }
//
//   > .hint-result {
//     margin-left: 12px;
//   }
// }



.valid {
    font-weight: normal;
  > .hint-result {
    font-weight: normal;
    @extend  %icon;
    &:after {
      content: '\f00c';
      color: #449d44;
    }
  }
}
