.wrapper .main {
	max-width: 580px;
	width: 95%;
	margin: 0 auto;
	padding-top: 77px;
	padding-bottom: 10px;
}

.main .article {
	background-color: $bgContain;
	border: 1px solid $border;
	border-radius: 6px;
	position: relative;
	margin-bottom: 10px;
}

.article {
	> .article-avatar {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 10px;
			border-radius: 50%;
			transition: box-shadow .3s;
		&:hover {
			box-shadow: $bsh;
		}
	}
	> .article-author {
			display: inline-block;
			font-size: $mdFz;
			color: $active1;
			max-width: calc(100% - 60px - 40px);
			height: 20px;
			line-height: 30px;
			word-spacing: -4px;
		&:hover {
			color: $active2;
		}
	}
	> .article-time {
			position: absolute;
			top: 38px;
			left: 59px;
			color: $inActive;
			font-size: $xsFz;
	}
	> .more-2 {
			@extend %icon;
			display: block;
			width: 26px;
			height: 26px;
			line-height: 26px;
			color: $hightLight;
			cursor: pointer;
			text-align: center;
			font-size: 26px;
			position: absolute;
			right: 0;
			top: 11px;
			transition: color .3s;
		// &:before {
		// 	font-size: 18px;
		// }

		&:hover {
			color: $active1;
		}
	}
	> .article-title {
			width: calc(100% - 15px);
			margin: 0 5px 0 10px;
			color: $heading;
			font-size: $mdFz;
			font-weight: bold;
			word-break: break-all;
			word-spacing: -4px;
	}
	> .article-content {
			width: calc(100% - 15px);
			margin: 5px 5px 0px 10px;
			padding-bottom: 5px;
			font-size: $smFz;
			color: $font;
			word-spacing: -1px;
			line-height: 20px;
			word-break: break-all;
	}
	> .article-analysis {
			margin: 5px 10px 0;
			width: calc( 100% - 20px);
			border-top: 1px solid $hightLight;
			border-bottom: 1px solid $bgContain;
			height: 35px;
			transition: border-color .3s;
			cursor: pointer;
			clear: both;
	}
	> .comment-toggle {
			border-bottom-color: $hightLight;
	}

	> .article-analysis:hover {
		border-top-color: $active1;
		border-bottom-color: $bgContain;
	}

	> .comment-toggle:hover {
		border-top-color: $active1;
		border-bottom-color: $active1;
	}

	> .article-menu {
			width: 100px;
			box-shadow: $bsh;
			border-radius: 6px;
			position: absolute;
			top: 35px;
			right: 11px;
			background-color: $bgContain;
	}
}//.article

.article-analysis {
	> i {
		color: $hightLight;
		transition: color .3s;
		font-style: normal;
		font-size: $smFz;
		line-height: 30px;
		margin-top: 5px;
		vertical-align: bottom;
		&:hover {
			color: $active1;
		}
		&:first-child {
			float: left;
			margin-left: 3px;
		}
		&:before {
			@extend %icon;
			font-size: $mdFz;
			margin-right: 5px;
		}
	}

	> .thumb-down-1 {
		float: right;
		margin-right: 3px;
	}

	> .thumb-up-1 {
		float: right;
		margin-right: 12px;
	}

	.clicked {
		color: $active2;
		&:hover {
			color: $active2;
		}
	}
}

.article-menu {

	> i {
		cursor: pointer;
		display: block;
		height: 35px;
		line-height: 37px;
		color: $active1;
		font-size: $smFz;
		font-style: normal;
		color: $inActive;
		transition: color, background-color  .5s;

		&:first-child {
			border-radius: 6px 6px 0 0;
		}

		&:last-child {
			border-radius: 0 0 6px 6px;
		}

		&:before {
			@extend %icon;
			font-size: $ssFz;
			margin: 0 6px 0 5px;
			color: $active1;
		}
	}

	> i:hover {
			background-color: $bgBody;

		&:before {
			color: $active2;
		}
	}

	> .post-2:before {
			font-size: $ssFz;
	}
	> .cancel-3:before {
			font-size: $xsFz;
	}
	> .bookmark-1:before {
			font-size: $xsFz;
	}
}

@media (max-width: 580px) {
	.wrapper .main {
		width: 100%;
		.article {
			border-radius: 0;
			border-width: 1px 0 1px 0;
		}
	}
}


@media (max-width: 768px) {
	.article > .article-time {
		top: 40px;
	}
	.article > .more-2 {
		width: 40px;
		height: 40px;
		line-height: 40px;
		right: 0;
		top: 4px;
	}
}
