.wrapper .main {
	max-width: 580px;
	width: 95%;
	margin: 0 auto;
	padding-top: 77px;
	padding-bottom: 10px;
}

.main .article {
	background-color: $bgContain;
	border: 1px solid $border;
	border-radius: 6px;
	position: relative;
	margin-bottom: 10px;
	transition: border-color .3s;

	&:hover {
		border-color: $hightLight;
	}
}

.article {
	> .article-avatar {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 10px;
			border-radius: 50%;
			transition: box-shadow .3s;
		&:hover {
			box-shadow: $bsh;
		}
	}
	> .article-author {
			display: inline-block;
			font-size: $mdFz;
			color: $active1;
			max-width: calc(100% - 60px - 40px);
			height: 20px;
			line-height: 30px;
			word-spacing: -4px;
		&:hover {
			color: $active2;
		}
	}
	> .article-time {
			position: absolute;
			top: 38px;
			left: 59px;
			color: $infoFont;
			font-size: $ssFz;
			word-spacing: -4px;
	}
	> .more-2 {
			@extend %icon;
			display: block;
			width: 26px;
			height: 26px;
			line-height: 26px;
			color: $hightLight;
			cursor: pointer;
			text-align: center;
			font-size: 26px;
			position: absolute;
			right: 0;
			top: 11px;
			transition: color .3s;
		// &:before {
		// 	font-size: 18px;
		// }

		&:hover {
			color: $active1;
		}
	}
	> .article-title {
			width: calc(100% - 30px);
			margin: 0 15px 0 15px;
			color: $heading;
			font-size: $lgFz;
			font-weight: bold;
			word-break: break-word;
			word-spacing: -4px;
	}
	> .article-content {
			width: calc(100% - 30px);
			margin: 5px 15px 0px 15px;
			padding-bottom: 5px;
			font-size: $smFz;
			color: $font;
			word-spacing: -1px;
			line-height: 20px;
			word-break: break-word;
	}
	> .article-analysis {
			margin: 5px 10px 0;
			width: calc( 100% - 20px);
			border-top: 1px solid $hightLight;
			// border-bottom: 1px solid $bgContain;
			height: 35px;
			transition: border-color .3s, background-color .3s;
			cursor: pointer;
			clear: both;
	}
	> .comment-toggle {
			border-bottom-color: $hightLight;
	}

	> .article-analysis:hover {
		border-top-color: $active1;
		border-bottom-color: $bgContain;
	}

	> .comment-toggle:hover {
		border-top-color: $active1;
		border-bottom-color: $active1;
	}

}//.article

@media (max-width: 580px) {
	.wrapper .main {
		width: 100%;
		.article {
			border-radius: 0;
			border-width: 1px 0 1px 0;
		}
	}
}


@media (max-width: 768px) {
	.article > .article-time {
		top: 40px;
	}
	.article > .more-2 {
		width: 40px;
		height: 40px;
		line-height: 40px;
		right: 0;
		top: 4px;
	}
}
